body{
  max-width: 600px;
  margin: 0 auto;
  background-color: #718285;
  padding: 1em;
}
header{
  margin: 0 auto;
  max-width: 600px;
  align-items: center;
  
  
}
footer {
  border: 6px ridge #1C6EA4;
  border-radius: 13px 13px 13px 13px;
  max-width:600px;
  background-color: rgb(49, 134, 190);
  justify-items: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Parkavenue, cursive;
}
.logo-text{
  font-size: 50px;
  color: #000000;
}
.logo-box{
  border: 6px ridge #1C6EA4;
  border-radius: 13px 13px 13px 13px;
  padding: 1em;
  margin: 0 auto;
  max-width: 600px;
  align-items: center;
  background-color: rgb(49, 134, 190);
}
.copy-rights{
  font-style: italic;
  text-align: center;
  color: rgb(0, 0, 0);
}
.main-portrait{
  border: 6px ridge #1C6EA4;
  border-radius: 13px 13px 13px 13px;
  width: 150px;
  height: 140px;
  float: right;
  margin-right:15px;
}
.p1{
  font-size: 30px;
}



