html {
  background-color:#fbeec1;
}
body{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
  padding: 1em;
}
header{
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  
  
}
footer {
  border: 6px ridge#fbeec1;
  border-radius: 13px 13px 13px 13px;
  max-width:1200px;
  background-color:#8d8741;
  justify-items: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Parkavenue, cursive;
}
.logo-text{
  font-size: 50px;
  color: #000000;
  align-items: center;
}
h1{
  border: 6px ridge #fbeec1;
  border-radius: 13px 13px 13px 13px;
  padding: 1em;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  background-color: #dad9ce;
  text-align: center;
}
h2{
  text-align: center;
}
.copy-rights{
  font-style: italic;
  text-align: center;
  color: rgb(0, 0, 0);
}
.dp-grid{
  max-width: 1200px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:auto;
  width: 100%; 
  height: 100%;
  margin: 0 auto;
}
.dp-headline-1{
  display: flex;
  justify-content: center;
  width: 100%; 
  height: 100%;
  grid-column: 1/7;
  grid-row:1;
}
.dp-paragraph-1{
  width: 100%; 
  height: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
}
.dp-top-right-img{
  border-radius: 13px 13px 13px 13px;
  max-width:500px;
  max-height:500px;
  border: 6px ridge #fbeec1;
  padding: 5px;
  grid-column: 4/6;
  grid-row: 2/3;
}
.dp-headline-2{
  width: 100%; 
  height: 100%;
  grid-column: 1;
  grid-row:4;
}
.dp-paragraph-2{
  width: 100%; 
  height: 100%;
  grid-column: 4/7;
  grid-row: 5/6;
}
.dp-middle-left-img{
  border-radius: 13px 13px 13px 13px;
  max-width:500px;
  max-height:500px;
  border: 6px ridge #fbeec1;
  padding: 5px;
  grid-column: 1/4;
  grid-row: 5/6;
}
.dp-headline-3{
  width: 100%; 
  height: 100%;
  grid-column: 4;
  grid-row: 7;
}
.dp-paragraph-3{
  width: 100%; 
  height: 100%;
  grid-column: 1/4;
  grid-row: 8/9;
}
.dp-bottom-right-img{
  border-radius: 13px 13px 13px 13px;
  max-width:500px;
  max-height:500px;
  border: 6px ridge #fbeec1;
  padding: 5px;
  grid-column: 4/6;
  grid-row: 8/9;
}
.p1{
  font-size: 30px;
}